@import './variables';

// Base scss
body,
.main-container {
  background-color: $dark-theme-primary-color-dark;
  color: $dark-theme-font-color;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 3px 0;
  font-weight: $font-medium;
  color: inherit;
  letter-spacing: 0.4px;
}

hr {
  border: none;
  border-bottom: 1px solid $dark-theme-primary-color-light;
}

// Basic grid system
.ivd-row {
  display: flex;
}
.ivd-col-1 {
  width: 8.33%;
}
.ivd-col-1-half {
  width: 12.495%;
}
.ivd-col-2 {
  width: 16.67%;
}
.ivd-col-3 {
  width: 25%;
}
.ivd-col-4 {
  width: 33.33%;
}
.ivd-col-4-half {
  width: 37.495%;
}
.ivd-col-5 {
  width: 41.67%;
}
.ivd-col-6 {
  width: 50%;
}
.ivd-col-7 {
  width: 58.33%;
}
.ivd-col-8 {
  width: 66.67%;
}
.ivd-col-9 {
  width: 75%;
}
.ivd-col-10 {
  width: 83.33%;
}
.ivd-col-11 {
  width: 91.67%;
}
.ivd-col-12 {
  width: 100%;
}

// checkbox
.mat-checkbox {
  .mat-checkbox-frame {
    border-color: $dark-theme-font-color;
  }
}
.mat-checkbox.mat-checkbox-checked {
  .mat-checkbox-background {
    background-color: $dark-theme-primary-color-lighter-400;
  }
}
.mat-checkbox.checkbox-success {
  color: $color-success;
  .mat-checkbox-frame {
    border-color: $color-success;
  }
}
.mat-checkbox.checkbox-error {
  color: $color-danger;
  .mat-checkbox-frame {
    border-color: $color-danger;
  }
}

// link
.ivd-link {
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  &::after {
    content: ' ';
    display: block;
    position: absolute;
    height: 1px;
    background: $dark-theme-font-color;
    width: 0%;
    left: 50%;
    opacity: 0.3;
    transition: transform 0.1s 0.1s ease-in-out, opacity 0.2s ease-in-out,
      width 0.1s 0.1s ease-in-out;
  }
  &:hover:after {
    opacity: 1;
    transform: translateX(-50%);
    width: 100%;
    color: $dark-theme-font-color;
  }
}

// form-field
.ivd-form-field {
  .mat-form-field-outline {
    color: $dark-theme-primary-color-lighter;
    background-color: $dark-theme-primary-color-light;
    .mat-form-field-outline-start,
    .mat-form-field-outline-end {
      border-radius: 0px;
    }
  }
  .mat-form-field-wrapper {
    padding-bottom: 3px;
  }
  .mat-select-placeholder {
    color: $dark-theme-font-color-faded;
  }
  .mat-select-value {
    color: $dark-theme-font-color;
  }
  .mat-input-element {
    letter-spacing: 0.2px;
    font-size: 12px;
    color: $dark-theme-font-color;
  }
  .mat-input-element::placeholder {
    color: $dark-theme-font-color-faded;
  }
  .mat-select-trigger {
    font-size: 12px;
    letter-spacing: 0.2px;
    margin-bottom: -1px;
  }
  .mat-form-field-infix {
    border-top: 0px;
    padding: 12px 0 8px 0 !important;
  }
  .mat-select-arrow {
    border-left: 15px solid transparent !important;
    border-right: none !important;
    border-top: 15px solid transparent !important;
    // TODO: Check for the issue once migration of application is done
    // border-image-source: url('assets/icons/expand_more_white.svg') !important;
    border-image-repeat: stretch !important;
  }
}
.ivd-form-field.mat-focused {
  .mat-form-field-outline-thick {
    color: #ffffff66;
  }
}

// button
.ivd-btn.btn-accent {
  border-radius: 0px;
  background-color: $dark-theme-accent-color;
  span {
    color: $dark-theme-font-color-light;
  }
}
.ivd-btn.btn-primary {
  border-radius: 0px;
  background-color: $color-primary;
  span {
    color: $dark-theme-font-color-light;
  }
}
.ivd-btn.btn-success {
  border-radius: 0px;
  background-color: $color-success;
  span {
    color: $dark-theme-font-color-light;
  }
}
.ivd-btn.btn-danger {
  border-radius: 0px;
  background-color: $color-danger;
  span {
    color: $dark-theme-font-color-light;
  }
}
.ivd-btn-2.btn-accent {
  span {
    color: $dark-theme-accent-color;
  }
}
.ivd-btn-2.btn-primary {
  span {
    color: $color-primary;
  }
}
.ivd-btn-2.btn-success {
  span {
    color: $color-success;
  }
}
.ivd-btn-2.btn-danger {
  span {
    color: $color-danger;
  }
}
// label
.ivd-label {
  font-size: 11px;
  font-weight: $font-medium;
  color: $dark-theme-font-color;
}

// chip
.ivd-chip-list {
  .ivd-chip {
    border-radius: 2px;
    padding: 5px 10px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.2px;
    min-height: 14px;
    height: auto;
  }
}

// radio
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element {
  background-color: white !important;
}
.mat-radio-container:hover {
  .mat-radio-ripple .mat-ripple {
    display: none;
  }
}

.mat-radio-button.radio-success {
  color: $color-success;
  .mat-radio-outer-circle {
    border-color: $color-success !important;
  }
}
.mat-radio-button.radio-error {
  color: $color-danger;
  .mat-radio-outer-circle {
    border-color: $color-danger !important;
  }
}

.ivd-radio-button {
  .mat-radio-container {
    height: 16px;
    width: 16px;
  }

  .mat-radio-label-content {
    padding-left: 12px;
  }
  .mat-radio-inner-circle {
    height: 16px;
    width: 16px;
    background-color: $dark-theme-font-color !important;
  }
  .mat-radio-outer-circle {
    height: 16px;
    width: 16px;
    border-color: $dark-theme-font-color !important;
  }
}

// select
.ivd-select-panel {
  border-radius: 0px 0px 2px 2px !important;
  padding: 8px 0px !important;
  min-width: calc(100% + 25px) !important;
  margin-left: 3px;
  margin-top: -12px;
  background-color: $dark-theme-primary-color-lighter;
  .mat-option {
    padding: 0px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  .mat-option-multiple {
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  .mat-option:hover {
    color: $dark-theme-font-color-light;
    background-color: $dark-theme-hover-color;
  }
  .mat-option-multiple:hover {
    color: $dark-theme-font-color-light;
    background-color: $dark-theme-hover-color;
  }
  .mat-option-pseudo-checkbox {
    margin-left: 10px !important;
    border-color: $dark-theme-font-color;
  }
}
.ivd-multiple {
  min-width: calc(100% + 64px) !important;
  margin-left: 3px;
}
.mat-option {
  .ivd-option-content {
    color: $dark-theme-font-color;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 78px;
  }
}
.mat-option-multiple {
  .ivd-option-content {
    color: $dark-theme-font-color;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 3px;
    padding-right: 50px;
  }
}

//dashboard
.ivd-content-container {
  padding: 25px;
  background-color: $dark-theme-primary-color;
  margin: 15px;
  min-height: calc(100vh - 123px);
}

// card
.ivd-card {
  background-color: $dark-theme-primary-color-light;
  box-sizing: border-box;
  color: $dark-theme-font-color;
  box-shadow: 0px 3px 8px #040e1c;
  line-height: 20px;
  .ivd-card-content {
    margin-top: -7px;

    .ivd-card-title {
      font-weight: $font-medium;
      margin-bottom: 13px;
      font-size: 20px;
      margin-top: -12px;
    }
    .ivd-card-description {
      font-weight: $font-regular;
      font-size: 12px;
      margin-bottom: 10px;
      height: 70px;
    }
    .ivd-card-price {
      font-weight: $font-regular;
      font-size: 18px;
      line-height: 22px;
    }
    .ivd-tags-wrapper {
      margin-top: 30px;
    }
  }
}
.ivd-card:not([class*='mat-elevation-z']) {
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  box-shadow: 0px 3px 8px #040e1c;
}

.ivd-card-animation:hover {
  cursor: pointer;
  transform: scale(1.14);
  box-shadow: 0px 5px 12px #040e1c;
  z-index: 10;
}

// login
.ivd-login {
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: $dark-theme-primary-color-light;
  box-shadow: 0 3px 18px $dark-theme-primary-color-lighter;
  width: 774px;
  height: 508px;
}

// login-signup-card
.ivd-login-signup-card {
  display: flex;
  height: 100%;
  .easy-login-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    .back-btn {
      position: absolute;
      top: 12px;
      left: 20px;
    }
  }
  .login-image {
    height: 100%;
  }
  .action-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    left: 50%;
    bottom: 15%;
    transform: translateX(-50%);
    h3 {
      margin-bottom: 20px;
    }
    button {
      padding: 7px 40px;
      border-radius: 0px;
      width: 250px;
      background: transparent;
      border: 1px solid #56bfff57;
      color: white;
      font-size: 15px;
      font-weight: 500;
      letter-spacing: 0.5px;
      margin-bottom: 7px;
      cursor: pointer;
      transition: background-color 0.2s ease-in-out;
      &:hover {
        background-color: #ffffff20;
      }
    }
  }
  .login-form-container {
    width: 50%;
    position: relative;
    h3 {
      margin-bottom: 20px;
    }
    .login-register-wrapper {
      position: absolute;
      right: 20px;
      top: 20px;
      button {
        transition: background-color 0.2s ease-in-out;
        color: $dark-theme-font-color;
        background-color: $dark-theme-primary-color;
        // border: 1px solid $dark-theme-primary-color-lighter;
        border: none;
        padding: 4px 12px;
        cursor: pointer;
        line-height: 17px;
        border-radius: 0;
        font-size: 12px;
      }
      .selected {
        background-color: $dark-theme-accent-color;
      }
    }
    .form-wrapper {
      width: 70%;
      margin: 100px auto 0 auto;
      .ivd-input-wrapper {
        display: flex;
        flex-direction: column;
      }
      .submit-btn {
        width: 100%;
        border: none;
        background: $dark-theme-accent-color;
        color: $dark-theme-font-color;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: $font-medium;
        margin-top: 20px;
        padding: 9px 0;
        border-radius: 0;
      }
      .link-wrapper {
        display: flex;
        justify-content: space-between;
        position: relative;
      }
      .login-register-link {
        margin-top: 10px;
        font-size: 10px;
        display: inline-block;
        text-decoration: none;
        color: $dark-theme-font-color;
      }
      .float-right {
        right: 0;
        position: absolute;
      }
      .float-left {
        left: 0;
        position: absolute;
      }
    }
  }
}

//account-selector-card
.ivd-account-selector-card {
  height: 100%;
  display: flex;
  position: relative;
  .title {
    position: absolute;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
    z-index: 1;
  }
  .student-wrapper,
  .instructor-wrapper {
    overflow: hidden;
    position: relative;
    width: 50%;
    img {
      height: 100%;
      width: auto;
      filter: blur(3px) brightness(0.4) grayscale(100%);
      cursor: pointer;
      transition: filter 0.3s ease-in-out;
      &:hover {
        filter: blur(0px) brightness(1) grayscale(0%);
      }
    }
    .sub-title {
      position: absolute;
      left: 50%;
      bottom: 20px;
      transform: translateX(-50%);
    }
  }
}

// profile-main-info
.ivd-profile-main-info {
  padding: 15px;
  padding-bottom: 0px;
  .image-wrapper {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
    overflow: hidden;
  }
  .bg-image {
    width: 100%;
    height: auto;
    top: 50%;
    transform: translateY(-50%);
  }
  .main-content-wrapper {
    height: 100px;
    padding-bottom: 20px;
    background-color: $dark-theme-primary-color;
    position: relative;
    display: flex;
    justify-content: flex-end;
  }
  .user-profile-wrapper {
    top: -135px;
    left: 48px;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    .edit-action {
      background-color: $dark-theme-font-color;
      color: $dark-theme-primary-color-light;
      width: 35px;
      height: 35px;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      cursor: pointer;

      mat-icon {
        position: absolute;
        font-size: 20px;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .user-image-wrapper {
      width: 170px;
      height: 170px;
      border-radius: 50%;
      border: 5px solid $dark-theme-font-color;
      overflow: hidden;
      .profile-image {
        height: 100%;
        width: auto;
      }
    }
    .user-name-wrapper {
      h2 {
        text-transform: uppercase;
      }
      text-align: center;
    }
  }
  .work-detail-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 300px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      li {
        display: flex;
        align-items: center;
      }
    }
    mat-icon {
      margin-right: 10px;
    }
  }
  .social-link-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 0 30px 10px 30px;
    img {
      margin-left: 20px;
      height: 23px;
    }
  }
}

// tag
.ivd-tag {
  font-size: 9px;
  font-weight: $font-medium;
  display: inline-block;
  border-radius: 3px;
  margin: 3px 3px;
  letter-spacing: 0.6px;
  color: $dark-theme-font-color;
  background-color: $dark-theme-primary-color-lighter;
  padding: 2px 16px;
}

.ivd-tag.ivd-tag-circle {
  border-radius: 15px;
  padding-top: 4px;
  padding-bottom: 4px;
  font-weight: 400;
}

.mat-drawer-side {
  border: none;
}

// side nav
.ivd-side-nav {
  background-color: $dark-theme-primary-color-light;
  height: 100vh;
  .logo {
    margin: auto;
    display: block;
    cursor: pointer;
    padding: 5px;
    box-sizing: border-box;
    &-img {
      height: 40px;
    }
  }
  .mat-expansion-panel {
    background-color: $dark-theme-primary-color-light;
    color: $dark-theme-font-color;
    border-radius: 0px;
    box-shadow: none;
    margin: 0;
  }
  .mat-expansion-panel-header {
    font-size: 13px;
    padding-left: 17px;
    padding-right: 20px;
    transition: background-color 0.2s ease-in-out;
    &:hover:not([class*='ivd-selected']) {
      background: rgba(0, 0, 0, 0.15);
      cursor: pointer;
      color: $dark-theme-font-color-light !important;
    }
    &:hover {
      cursor: pointer;
    }
  }
  .mat-expansion-panel:not(.mat-expanded)
    .mat-expansion-panel-header:hover:not([aria-disabled='true']) {
    background: rgba(0, 0, 0, 0.14);
  }
  .mat-expansion-panel-header-title {
    color: $dark-theme-font-color;
    display: flex;
    align-items: center;
  }
  .ivd-list-icon {
    font-size: 14px;
    height: auto;
  }
  .mat-expansion-indicator::after {
    color: $dark-theme-font-color;
  }
  .mat-expansion-panel-body {
    font-size: 13px;
    padding: 0;
  }
  .ivd-sub-list-item {
    padding: 12px 24px 12px 40px;
    transition: background-color 0.2s ease-in-out;
    &:hover {
      background: rgba(0, 0, 0, 0.15);
      cursor: pointer;
      color: $dark-theme-font-color-light;
    }
  }
  .mat-accordion .mat-expansion-panel:last-of-type {
    border-radius: 0px;
  }
  .ivd-selected {
    background-color: $dark-theme-accent-color;
    color: $dark-theme-font-color-light;
    &:hover {
      background-color: $dark-theme-accent-color !important;
    }
  }
}

// score-card
.ivd-score-card {
  background-color: $dark-theme-primary-color-light;
  height: 100%;
  padding: 7px;
  ul {
    list-style: none;
    padding: 0px;
    margin: 20px 0px;
  }
  li {
    margin-bottom: 15px;
  }
  .score-wrapper {
    display: flex;
    align-items: center;
  }
  .ivd-score-label {
    width: 40%;
  }
  .ivd-test-link {
    text-transform: uppercase;
    color: $dark-theme-accent-color-light;
  }
}

// info card
.ivd-info-card {
  // height: 213px;
  width: 410px;
  background-color: $dark-theme-primary-color-light;
  color: $dark-theme-font-color;
  padding: 19px;
  position: relative;
  box-shadow: 0px 3px 6px #000000ab;
  .ivd-info-title {
    font-size: 18px;
    font-weight: $font-medium;
  }
  .ivd-tags-wrapper {
    margin-bottom: 16px;
  }
  .ivd-info-description {
    font-size: 14px;
    margin: 6px 0px 16px 0px;
    line-height: 19px;
    height: 56px;
    overflow: hidden;
  }
  .ivd-sub-info-wrapper {
    display: flex;
  }
  .ivd-sub-info-list {
    display: flex;
    flex-direction: column;
    margin-right: 16px;
    span {
      display: inline-block;
      font-size: 12px;
      padding: 2.5px 0px;
    }
  }
  .ivd-info-card-link {
    position: absolute;
    right: 19px;
    font-size: 14px;
    bottom: 19px;
    color: $dark-theme-accent-color-light;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: $font-medium;
    transition: color 0.2s ease-in-out;
    &::after {
      content: ' ';
      display: block;
      position: absolute;
      height: 1px;
      background: $dark-theme-accent-color-light;
      width: 0%;
      left: 50%;
      opacity: 0.3;
      transition: transform 0.1s 0.1s ease-in-out, opacity 0.2s ease-in-out,
        width 0.1s 0.1s ease-in-out;
    }
    &:hover:after {
      opacity: 1;
      transform: translateX(-50%);
      width: 100%;

      color: $dark-theme-accent-color;
    }
  }
}

.ivd-info-card-animation:hover {
  box-shadow: 0px 5px 12px #000000ab;
}

// list
.ivd-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

//profile-info-card
.ivd-profile-info-card {
  background-color: $dark-theme-primary-color-light;
  position: relative;
  padding: 7px 26px 25px 8px;
  .ivd-list-item {
    display: flex;
    margin-bottom: 18px;
  }
  .ivd-list-item:last-child {
    margin-bottom: 0px;
  }
  .ivd-label {
    font-size: 13px;
    font-weight: $font-medium;
    text-transform: capitalize;
    letter-spacing: 0.3px;
    width: 30%;
  }
  .ivd-value {
    width: 70%;
    letter-spacing: 0.3px;
    font-size: 13px;
    font-weight: $font-regular;
  }
  .ivd-edit-btn {
    position: absolute;
    right: 7px;
    top: 4px;
  }
  .ivd-submit-btn {
    position: absolute;
    right: 7px;
    top: 4px;
  }
  mat-icon {
    font-size: 17px;
  }
  .ivd-edit-form {
    margin-top: -9px;
    margin-bottom: -9px;
    .ivd-list-item {
      align-items: center;
      margin-bottom: 0px;
    }
    .ivd-form-field .mat-form-field-infix {
      padding: 8px 0 8px 0 !important;
    }
    .mat-form-field-wrapper {
      margin: 0;
    }
  }
}

// top-nav
.ivd-top-nav {
  height: 43px;
  color: $dark-theme-font-color;
  background-color: $dark-theme-primary-color-light;
  display: flex;
  justify-content: space-between;
  padding: 0px 97px 0px 2px;
  mat-icon {
    font-size: 16px;
  }
  .ivd-info-wrapper {
    display: flex;
  }
  .ivd-user-btn,
  .ivd-icon-btn {
    padding-left: 7px;
    padding-right: 7px;
    mat-icon {
      font-size: 18px;
    }
  }
  .ivd-user-btn {
    border-radius: 0px;
  }
  .ivd-user-wrapper {
    display: flex;
    align-items: center;
  }
  .ivd-user {
    margin-left: 8px;
    font-weight: $font-regular;
    mat-icon {
      position: relative;
      top: 3px;
    }
  }
  .ivd-avatar-img-wrapper {
    border-radius: 50%;
    height: 24px;
    width: 24px;
    overflow: hidden;
    border: 1.5px solid $dark-theme-font-color;
    img {
      width: auto;
      object-fit: fill;
      height: 100%;
    }
  }
}

// ivd-menu
.ivd-menu {
  border-radius: 0px 0px 2px 2px !important;
  background-color: $dark-theme-primary-color-lighter;
  .ivd-menu-item {
    color: $dark-theme-font-color;
    height: 36px;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 78px;
    transition: color 0.2s ease-in-out, background-color 0.2s ease-in-out;
  }
  .ivd-menu-item:hover {
    color: $dark-theme-font-color-light;
    background-color: $dark-theme-hover-color;
  }
}

// dynamic-form
.ivd-dynamic-form {
  .ivd-row {
    display: flex;
    flex-wrap: wrap;
  }
  .ivd-dynamic-form-field {
    width: 100%;
  }
  .ivd-input-wrapper {
    box-sizing: border-box;
    padding: 0 7px;
  }
  .ivd-input-wrapper.no-padding {
    padding: 0;
  }
  .ivd-inline {
    display: flex;
    align-items: center;
    label {
      width: 40%;
    }
  }
}

// advance-filter
.ivd-adv-filter {
  .ivd-filter-field {
    width: 100%;
  }
  .ivd-filter-btn {
    border-radius: 0px;
    margin-top: 23px;
    height: 34px;
    font-size: 13px;
    letter-spacing: 0.2px;
    background-color: $dark-theme-accent-color;
    color: $dark-theme-font-color;
  }
  .ivd-filter-btn-icon {
    font-size: 14px;
  }
  .ivd-filter-chip {
    background-color: $dark-theme-primary-color-lighter;
    color: $dark-theme-font-color;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
    &:hover {
      background-color: $dark-theme-hover-color;
      color: $dark-theme-font-color-light;
      cursor: pointer;
    }
  }
  .ivd-filter-chip-icon {
    font-size: 11px;
    height: 11px;
    margin-left: 3px;
    width: 11px;
  }
}

// breadcrumb
.ivd-breadcrumb {
  color: $dark-theme-font-color;
  display: flex;
  align-items: center;
  padding: 6px 0;
  .ivd-breadcrumb-link {
    color: inherit;
    font-size: 12px;
    letter-spacing: 0.2px;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
  .ivd-last-breadcrumb {
    color: $dark-theme-accent-color-light;
    &:hover {
      text-decoration: none;
    }
  }
  .ivd-breadcrumb-icon {
    font-size: 15px;
    width: 15px;
    height: 15px;
    margin: auto 8px;
  }
}

// nav-bar
.ivd-nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 73px;
  position: absolute;
  width: 100%;
  top: 0;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.24);
  box-shadow: 0 6px 12px rgba(255, 255, 255, 0.44);
  padding: 0 124px;
  animation: ivd-fade-in-increase-height 0.5s ease-in-out forwards;
  .logo {
    height: 100%;
    padding-top: 14px;
    box-sizing: border-box;
    &-img {
      height: 100%;
    }
  }
  .action-wrapper {
    a {
      margin-left: 85px;
      font-size: 21px;
      text-decoration: none;
      color: $dark-theme-font-color-light;
    }
  }
}

// landing-banner
.ivd-banner {
  height: 100vh;
  position: relative;
  width: 100%;
  display: flex;
  z-index: -1;
  justify-content: space-between;
  .banner-image {
    width: 100%;
    height: 100vh;
    z-index: -1;
    position: absolute;
    overflow: hidden;
    img {
      width: 100%;
      transform: translate(-5px, -5px);
      filter: brightness(50%) blur(3px);
    }
  }
  .content-container {
    width: 60%;
    margin: auto;
    margin-left: 42px;
    .inspirational-quotes {
      margin-bottom: 90px;
      line-height: 50px;
      font-size: 30px;
      .quotes-wrapper {
        display: inline-block;
        opacity: 0;
        animation: ivd-fade-in-move-right 0.5s ease-in-out 0.3s forwards;
      }
      .author {
        opacity: 0;
        animation: ivd-fade-in-move-left 0.5s ease-in-out 0.3s forwards;
        float: right;
      }
    }
    .offers {
      font-size: 38px;
      line-height: 61px;
      color: $dark-theme-font-color-light;
      opacity: 0;
      animation: ivd-fade-in 0.5s ease-in-out 2s forwards;
    }
  }
  .images-container {
    display: flex;
    width: 40%;
    margin: 40px 20px 0 20px;
    align-items: center;
    .images-wrapper {
      width: 200px;
      overflow: hidden;
      height: 70%;
      margin: 0 20px;
      img {
        height: 100%;
        opacity: 0;
      }
      .image-0 {
        animation: ivd-fade-in 0.5s ease-in-out 1s forwards;
      }
      .image-1 {
        animation: ivd-fade-in 0.5s ease-in-out 1.2s forwards;
      }
      .image-2 {
        animation: ivd-fade-in 0.5s ease-in-out 1.5s forwards;
      }
    }
  }
  .show-more {
    position: absolute;
    left: 50%;
    bottom: 10px;
    transform: translateX(-50%);
    cursor: pointer;
    opacity: 0;
    animation: ivd-fade-in 0.5s ease-in-out 3.5s forwards;
    &-text {
      text-transform: uppercase;
      font-weight: $font-medium;
      letter-spacing: 0.2px;
    }
    &-icon {
      text-align: center;
      mat-icon {
        transform: rotate(90deg);
        animation: ivd-fade-out-move-bottom 1.2s infinite;
      }
    }
  }
}

// top-courses
.ivd-top-courses {
  margin-bottom: 30px;
  padding: 52px 10px;
  .title {
    font-size: 29px;
    text-align: center;
    color: $dark-theme-font-color-light;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .card-container {
    display: flex;
    margin-bottom: 25px;
    .card-wrapper {
      max-width: 300px;
      margin: auto 10px;
    }
  }
  .courses-link {
    a {
      text-transform: capitalize;
      color: $dark-theme-font-color;
      float: right;
      margin-right: 10px;
    }
  }
}

// create-account
.ivd-create-account {
  padding: 29px 80px;
  background-color: $dark-theme-primary-color-light;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 442px;
  box-sizing: border-box;
  overflow-x: hidden;
  .card-wrapper {
    display: flex;
    position: relative;
    .main-title {
      pointer-events: none;
      font-size: 30px;
      color: $dark-theme-font-color-light;
      text-transform: uppercase;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      top: -70px;
    }
    .account-card {
      margin: auto 10px;
      background-color: $dark-theme-primary-color;
      width: 100%;
      display: flex;
      position: relative;
      max-height: 268px;
      min-height: 268px;
      .background-bar {
        display: block;
        height: 100%;
        width: 0;
        position: absolute;
        background-color: $dark-theme-primary-color;
        left: 50%;
        transform: translateX(-50%);
      }
      .image-wrapper {
        z-index: 10;
        height: 350px;
        width: 350px;
        overflow: hidden;
        position: absolute;
        top: 50%;
        opacity: 0;
        transform: translateY(-50%) scale(0);
        img {
          height: 100%;
        }
      }
      .register-btn {
        padding: 6px 60px;
        opacity: 0;
        text-transform: uppercase;
        margin-top: 10px;
        letter-spacing: 0.1px;
        color: $dark-theme-font-color-light;
      }
      .card-content-wrapper {
        padding: 25px 45px 34px 45px;
        z-index: 1;
        max-height: 268px;
        overflow-y: hidden;
        .title {
          font-size: 22px;
          text-align: center;
          color: $dark-theme-font-color-light;
          margin-bottom: 21px;
          width: 100%;
          text-transform: capitalize;
        }
        .description {
          font-size: 18px;
          color: $dark-theme-font-color;
          text-align: justify;
          line-height: 40px;
        }
      }
    }
    .student-card {
      .image-wrapper {
        right: -350px;
      }
    }
    .instructor-card {
      .image-wrapper {
        left: -350px;
      }
    }
  }
}
// create-account-transitions
.ivd-create-account {
  .card-wrapper {
    .main-title {
      transition: opacity 0.4s ease-in-out;
    }
    .account-card {
      transition: width 0.5s 0.2s ease-in-out, opacity 0.5s ease-in-out;
      .image-wrapper {
        transition: transform 0.5s 0.9s ease-in-out, opacity 0.2s ease-in-out,
          box-shadow 0.2s ease-in-out;
      }
      .register-btn {
        transition: opacity 0.5s ease-in;
      }
    }
    &:hover {
      .main-title {
        opacity: 0;
      }
      .account-card {
        opacity: 0;
      }
    }
    .account-card {
      .background-bar {
        transition: width 1.4s 0s ease-in-out;
      }
      .card-content-wrapper {
        .title {
          width: 100%;
          transition: width 0.4s ease;
        }
      }
      &:hover {
        width: 200%;
        opacity: 1;
        .background-bar {
          width: 150vw;
          left: 50%;
          transform: translateX(-50%);
        }
        .image-wrapper {
          transform: translateY(-50%) scale(1);
          opacity: 1;
          box-shadow: 0 0 15px 3px $dark-theme-primary-color-lighter;
        }
        .register-btn {
          opacity: 1;
        }
      }
    }
    .student-card:hover {
      .title {
        width: 244px;
      }
      .image-wrapper {
        right: -350px;
        opacity: 1;
      }
    }
    .instructor-card:hover {
      .title {
        width: 262px;
      }
      .image-wrapper {
        left: -350px;
        opacity: 1;
      }
    }
  }
}

// inspiration
.ivd-inspiration {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 160px;
  .title {
    text-transform: uppercase;
    font-size: 24px;
    font-weight: $font-medium;
    margin-bottom: 20px;
  }
  .description {
    line-height: 35px;
    font-size: 18px;
    text-align: center;
  }
}

// footer
.ivd-footer {
  .footer-content {
    background-color: $dark-theme-primary-color-light;
    display: flex;
    justify-content: space-between;
    padding: 48px 80px 48px 46px;
    .subscribe-wrapper {
      .subscribe-title {
        font-weight: $font-medium;
        color: $dark-theme-font-color;
        font-size: 12px;
        margin-bottom: 21px;
      }
      .subscribe-description {
        font-size: 14px;
        color: $dark-theme-font-color;
        margin-bottom: 30px;
      }
      .subscribe-btn {
        margin-left: 20px;
        color: $dark-theme-font-color-light;
        text-transform: uppercase;
        letter-spacing: 0.3px;
        font-size: 10px;
      }
    }
    .footer-links {
      display: flex;
      .ivd-list {
        margin-left: 80px;
      }
      .ivd-list-item {
        margin-bottom: 6px;
        a {
          font-size: 10px;
          letter-spacing: 0.5px;
          text-decoration: none;
          font-weight: $font-medium;
          text-transform: uppercase;
          color: $dark-theme-font-color;
        }
      }
    }
  }
  .footer-bar {
    background-color: $dark-theme-primary-color;
    display: flex;
    padding: 8px 46px;
    justify-content: space-between;
    .copyright {
      display: flex;
      align-items: center;
      font-size: 12px;
    }
    .social-link {
      display: flex;
    }
  }
}

// social icons list
.icon-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  .icon-item {
    margin-left: 18px;
  }
}
.icon-link {
  display: inline-flex;
  font-size: 18px;
  text-decoration: none;
  color: $social-icon;
  width: 30px;
  height: 30px;
  transition: 0.5s linear;
  position: relative;
  z-index: 1;
  margin: auto;
}

.icon-link:hover {
  color: #fff;
}

.icon-link i {
  margin: auto;
}

.icon-link::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 30px;
  height: 30px;
  background: #000;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0);
  transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
}

.icon-link:hover::before {
  transform: scale(1);
}

.icon-item:nth-child(1) a:hover:before {
  background: $social-instagram;
}

.icon-item:nth-child(2) a:hover:before {
  background: $social-linkedin;
}

.icon-item:nth-child(3) a:hover:before {
  background: $social-github;
}

.icon-item:nth-child(4) a:hover:before {
  background: $social-google-plus;
}

// subscribe
.ivd-subscribe {
  padding: 86px 20px 65px 84px;
  background-color: $dark-theme-primary-color;
  display: flex;
  .content {
    margin-left: 25px;
    .title {
      color: $dark-theme-font-color-light;
      font-size: 36px;
      margin-bottom: 10px;
    }
    .description {
      font-size: 28px;
      line-height: 44px;
      margin-bottom: 36px;
    }
    .subscribe-btn {
      border: none;
      padding: 16px 77px;
      text-transform: uppercase;
      letter-spacing: 0.3px;
    }
  }
}

// question card
.ivd-qstn-card {
  background-color: $dark-theme-primary-color-light;
  padding: 15px 9px;
  box-shadow: 0px 3px 6px #000000ab;
  .ivd-qstn-expansion-panel {
    box-shadow: none;
    background-color: transparent;
    .ivd-qstn-panel-header {
      padding: 0px;
      height: 100% !important;
      &:hover {
        cursor: default;
        background: none !important;
      }
      .ivd-qstn-panel-header-desc {
        color: $dark-theme-font-color;
        .ivd-qstn-index-wrapper {
          font-size: 15px;
          margin-right: 13px;
        }
        .ivd-qstn-content-wrapper {
          .ivd-qstn-desc {
            font-size: 18px;
            line-height: 22px;
            margin-bottom: 18px;
          }
          .ivd-qstn-options {
            font-size: 14px;
            margin-bottom: 10px;
          }
          .ivd-qstn-btn {
            letter-spacing: 0.5px;
          }
          .ivd-qstn-btn:first-child {
            width: 126px;
          }
        }
      }
    }
  }
  .ivd-qstn-explanation-wrapper {
    color: $dark-theme-font-color;
  }

  .ivd-qstn-options-list {
    padding-left: 0px;
    list-style-type: none;
  }

  .ivd-qstn-options-list-item {
    margin-bottom: 8px;
    font-size: 14px;
  }

  .mat-expansion-panel-header-description {
    margin-right: 0px;
  }
}
//
// animations
//
@keyframes ivd-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes ivd-fade-in-move-right {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
  }
}
@keyframes ivd-fade-in-move-left {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
  }
}

@keyframes ivd-fade-out-move-bottom {
  from {
    opacity: 0;
    transform: translateY(-10px) rotate(90deg);
  }
  to {
    opacity: 1;
  }
}
@keyframes ivd-fade-in-increase-height {
  from {
    opacity: 0;
    height: 0;
  }
  to {
    opacity: 1;
    height: 73px;
  }
}
