$dark-theme-primary-color-dark: #040E1C;
$dark-theme-primary-color: #17263c;
$dark-theme-primary-color-light: #25344E;
$dark-theme-primary-color-lighter: #3E507E;

$dark-theme-hover-color: #647398;

$dark-theme-font-color-light: #FFFFFF;
$dark-theme-font-color: #DEDEDE;
$dark-theme-font-color-faded: #DEDEDE85;

$dark-theme-accent-color: #F65164;
$dark-theme-accent-color-light: #F68693;

$dark-theme-shadow-color: #040E1C;

$font-medium: 500;
$font-regular: 400;
$font-semi-bold: 600;

$color-primary: #56BFFF;
$color-sucess: #4DE447;
$color-danger: #F68693;