<div class="ivd-create-account">
  <div class="main-title">
    create your account
  </div>
  <div class="card-wrapper">
    <div class="account-card student-card">
      <div class="title">Create student account</div>
      <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no</div>
    </div>
    <div class="account-card instructor-card">
      <div class="title">Create instructor account</div>
      <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
        invidunt ut labore et dolore
        magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
        gubergren, no</div>
    </div>
  </div>
</div>