<div class="ivd-create-account">
  <div class="card-wrapper">
    <div class="main-title">
      {{ 'features.landing.createAccount.createYourAccount' | translate }}
    </div>
    <div class="account-card student-card">
      <div class="background-bar"></div>
      <div class="image-wrapper">
          <img [src]="subscribeURI" alt="student">
      </div>
      <div class="card-content-wrapper">
        <div class="title">{{ 'features.landing.createAccount.createStudentAccount' | translate }}</div>
        <div class="description">{{ 'features.landing.createAccount.studentDescription' | translate }}</div>
        <button mat-flat-button class="ivd-btn btn-accent register-btn" (click)="onRegister()"
        >{{ 'features.landing.createAccount.register' | translate }}</button>
      </div>
    </div>
    <div class="account-card instructor-card">
      <div class="background-bar"></div>
        <div class="image-wrapper">
        <img [src]="instructorURI" alt="student">
        </div>
      <div class="card-content-wrapper">
        <div class="title">{{ 'features.landing.createAccount.createInstructorAccount' | translate }}</div>
        <div class="description">{{ 'features.landing.createAccount.instructorDescription' | translate }}</div>
        <button 
          mat-flat-button 
          class="ivd-btn btn-accent register-btn" 
          (click)="onRegister()"
        >{{ 'features.landing.createAccount.register' | translate }}</button>
      </div>
    </div>
  </div>
</div>