<div class="paper-container">
  <div class="paper-main-wrapper">
    <div class="paper-header">
      <h2>{{paper.title}}</h2>
      <div class="actions-wrapper">
        <button class="ivd-btn btn-accent" (click)="onEditSave()" mat-flat-button>{{editMode ? 'Save Changes' : 'Edit
          Paper'}}</button>
        <ng-container *ngIf="editMode">
          <button class="ivd-btn btn-accent" mat-flat-button> Select Question </button>
          <button class="ivd-btn btn-accent" mat-flat-button> Add Question </button>
        </ng-container>
      </div>
    </div>
    <hr>

    <div class="paper-wrapper">
      <div *ngFor="let question of questions; let i = index" class="question-wrapper">
        <app-question-card [question]="question" [index]="i" highlightAnswer="true"></app-question-card>
      </div>
    </div>
  </div>
  <div class="paper-side-content">
    <ng-container *ngIf="editMode; else paperDetail">
<app-dynamic-form [config]="editPaperModel"></app-dynamic-form>
    </ng-container>
  </div>
</div>
<ng-template #paperDetail>
  <div class="paper-title">{{paper.title}}</div>
  <p>{{paper.description}}</p>
  <div class="ivd-tags-wrapper">
    <span class="ivd-tag ivd-tag-circle" *ngFor="let tag of paper.tagList">
      {{tag | uppercase}}
    </span>
  </div>
  <ul class="paper-sub-details">
    <li><span>Difficulty</span><span>
        <app-star-rating [rating]="paper.difficulty"></app-star-rating>
      </span></li>
    <li><span>Type</span><span>{{paper.type}}</span></li>
    <li><span>Author</span><span>{{paper.author}}</span></li>
  </ul>
  <div class="rating-wrapper">
    <h4>rate this paper</h4>
  </div>
</ng-template>