<div class="paper-container" *ngIf="(paperDetails$ | async) as paperDetails">
  <div class="paper-main-wrapper">
    <div class="paper-header">
      <h2>{{paperDetails.title}}</h2>
      <div class="actions-wrapper">
        <button class="ivd-btn btn-accent" (click)="onEditSave()" mat-flat-button>{{editMode ? 'Save Changes' : 'Edit
          Paper'}}</button>
        <ng-container *ngIf="editMode">
          <button class="ivd-btn btn-accent" mat-flat-button i18n="@@ivdPaper__SelectQuestionBtn"> Select Question </button>
          <button class="ivd-btn btn-accent" mat-flat-button i18n="@@ivdPaper__AddQuestionBtn"> Add Question </button>
        </ng-container>
      </div>
    </div>
    <hr>

    <div class="paper-wrapper">
      <div *ngFor="let question of paperDetails.questions; let i = index" class="question-wrapper">
        <app-question-card [question]="question" [index]="i" highlightAnswer="true"></app-question-card>
      </div>
    </div>
  </div>
  <div class="paper-side-content">
    <ng-container 
    [ngTemplateOutlet]="editMode ? dynamicForm : paperDetailsTemplate"
    [ngTemplateOutletContext]="{ details : paperDetails }">
    </ng-container>
  </div>
</div>

<ng-template #dynamicForm>
  <app-dynamic-form [config]="editPaperModel"></app-dynamic-form>
</ng-template>

<ng-template #paperDetailsTemplate let-details="details">
  <div class="paper-title">{{details.title}}</div>
  <p>{{details.description}}</p>
  <div class="ivd-tags-wrapper">
    <span class="ivd-tag ivd-tag-circle" *ngFor="let tag of details.tags">
      {{tag | uppercase}}
    </span>
  </div>
  <ul class="paper-sub-details">
    <li><span i18n="@@ivdPaper_PaperSubDetailsDifficulty">Difficulty</span><span>
        <app-star-rating [rating]="details.difficulty"></app-star-rating>
      </span></li>
    <li><span i18n="@@ivdPaper__PaperSubDetailsType">Type</span><span>{{details.type}}</span></li>
    <li><span i18n="@@ivdPaper__PaperSubDetailsAuthor">Author</span><span>{{details.author}}</span></li>
  </ul>
  <div class="rating-wrapper">
    <h4 i18n="@@ivdPaper__RatingWrapper">rate this paper</h4>
  </div>
</ng-template>