<div class="paper-container" *ngIf="(paperDetails$ | async) as paperDetails">
  <div class="paper-main-wrapper">
    <div class="paper-header">
      <h2>{{paperDetails.title}}</h2>
      <div class="actions-wrapper">
        <button class="ivd-btn btn-accent" (click)="onEditSave()" mat-flat-button>{{editMode ? ('features.dashboard.paper.saveChanges' | translate) : ('features.dashboard.paper.editPaper' | translate) }}</button>
        <ng-container *ngIf="editMode">
          <button class="ivd-btn btn-accent" mat-flat-button> {{ 'features.dashboard.paper.selectQuestion' | translate }} </button>
          <button class="ivd-btn btn-accent" mat-flat-button> {{ 'features.dashboard.paper.addQuestion' | translate }} </button>
        </ng-container>
      </div>
    </div>
    <hr>

    <div class="paper-wrapper">
      <div *ngFor="let question of paperDetails.questions; let i = index" class="question-wrapper">
        <app-question-card [question]="question" [index]="i" highlightAnswer="true"></app-question-card>
      </div>
    </div>
  </div>
  <div class="paper-side-content">
    <ng-container 
    [ngTemplateOutlet]="editMode ? dynamicForm : paperDetailsTemplate"
    [ngTemplateOutletContext]="{ details : paperDetails }">
    </ng-container>
  </div>
</div>

<ng-template #dynamicForm>
  <app-dynamic-form [config]="editPaperModel"></app-dynamic-form>
</ng-template>

<ng-template #paperDetailsTemplate let-details="details">
  <div class="paper-title">{{details.title}}</div>
  <p>{{details.description}}</p>
  <div class="ivd-tags-wrapper">
    <span class="ivd-tag ivd-tag-circle" *ngFor="let tag of details.tags">
      {{tag | uppercase}}
    </span>
  </div>
  <ul class="paper-sub-details">
    <li><span>{{ 'features.dashboard.paper.difficulty' | translate }}</span><span>
        <app-star-rating [rating]="details.difficulty"></app-star-rating>
      </span></li>
    <li><span>{{ 'features.dashboard.paper.type' | translate }}</span><span>{{details.type | ivdTitlecase : 'UPPER_CASE' }}</span></li>
    <li><span>{{ 'features.dashboard.paper.author' | translate }}</span><span>{{details.author}}</span></li>
  </ul>
  <div class="rating-wrapper">
    <h4>{{ 'features.dashboard.paper.ratePaper' | translate }}</h4>
  </div>
</ng-template>