<div class="ivd-side-nav">
  <mat-accordion>
    <ng-container *ngFor="let item of list; let listIndex = index">
      <mat-expansion-panel 
      [hideToggle]="!item.subList" 
      >
        <mat-expansion-panel-header 
        #panelH
        [ngClass]="{'ivd-selected': isListSelected(listIndex)}"
        (click)="onClickListItem(listIndex, item.route); !item.subList && panelH._toggle()"
        collapsedHeight="40px" 
        expandedHeight="40px" >
          <mat-panel-title>
            <mat-icon class="ivd-list-icon">{{item.icon}}</mat-icon>
            {{item.label}}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div class="ivd-sub-list-item"
        [ngClass]="{'ivd-selected': isSubSelected(listIndex, subIndex)}"
        *ngFor="let subItem of item.subList; let subIndex = index"
        (click)="onClickSubListItem(listIndex, subIndex, subItem.route)"
        >
          {{subItem.label}}
        </div>
      </mat-expansion-panel>
    </ng-container>
  </mat-accordion>
</div>