<div class="ivd-profile-main-info">
  <div class="image-wrapper">
    <img class="bg-image" src="assets/images/bgImages/6.jpg" alt="">
  </div>
  <div class="main-content-wrapper">
    <div class="user-profile-wrapper">
      <div class="edit-action" *ngIf="showEdit" (click)="openProfilePicUpload()">
        <mat-icon>create</mat-icon>
      </div>
      <div class="user-image-wrapper">
        <img class="profile-image" [src]="profileData?.profileSrc" alt="">
      </div>
      <div class="user-name-wrapper">
        <h2>{{profileData?.fullName}}</h2>
        <h4>({{profileData?.username | titlecase}})</h4>
      </div>
      </div>
      <div class="work-detail-wrapper">
        <ul>
          <li>
            <mat-icon>people</mat-icon>{{profileData?.designation}}
          </li>
          <li>
            <mat-icon>place</mat-icon>{{profileData?.currentLocation}}
          </li>
          <li>
            <mat-icon>email</mat-icon>{{profileData?.email}}
          </li>
        </ul>
    </div>
    <div class="social-link-wrapper">
      <a [href]="profileData?.github">
        <img src="assets/icons/github.svg" alt="github">
      </a>
      <a [href]="profileData?.instagram">
        <img src="assets/icons/instagram.svg" alt="instagram">
      </a>
      <a [href]="profileData?.linkedin">
        <img src="assets/icons/linkedin.svg" alt="linkedin">
      </a>
    </div>
  </div>
</div>
<ng-template #profileUpload>
  <app-profile-pic-upload (fileChanged)="onFileChanged($event)"></app-profile-pic-upload>
</ng-template>