<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="showSideNav" class="side-nav">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
        <app-top-nav (toggleSideNav)="onToggleSideNav()"></app-top-nav>
        <div class="content-container">
            <app-breadcrumbs></app-breadcrumbs>
            <app-advance-search (filterChangeEvent)="onFilterChange($event)"></app-advance-search>
            <hr>
            <app-dynamic-form></app-dynamic-form>
            <hr>
            <ng-container *ngFor="let question of questionList; let qIndex = index">
                <app-question-card [question]="question" [highlightAnswer]="true" [index]="qIndex" ></app-question-card>
            </ng-container>
            <ng-container *ngFor="let card of testInfoCards">
                <div style="margin: 15px;">
                    <app-info-card [cardInfo]="card" [cardType]="'test'"></app-info-card>
                </div>
            </ng-container>
            <ng-container *ngFor="let card of paperInfoCards">
                <div style="margin: 15px;">
                    <app-info-card [cardInfo]="card" [cardType]="'paper'" [animations]="'true'"></app-info-card>
                </div>
            </ng-container>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>