<mat-sidenav-container class="sidenav-container">
    <mat-sidenav mode="side" [opened]="showSideNav" class="side-nav">
        <app-side-nav></app-side-nav>
    </mat-sidenav>
    <mat-sidenav-content class="main-container">
        <app-top-nav (toggleSideNav)="onToggleSideNav()"></app-top-nav>
        <div class="ivd-content-container" *ngIf="isNotProfilePage(); else profilePage">
            <div class="breadcrumb-wrapper">
                <app-breadcrumbs></app-breadcrumbs>
            </div>
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
<ng-template #profilePage>
    <router-outlet></router-outlet>
</ng-template>