<div class="ivd-nav-bar">
  <div class="logo">
    <img class="logo-img" src="../../../../../assets/icons/logo-dark.svg" alt="application logo">
  </div>
  <div class="action-wrapper">
    <ng-container *ngIf="!isLoggedIn; else userLoggedTemplate">
      <a routerLink="/login">Log In</a>
      <a routerLink="/register">Sign Up</a>
      </ng-container>
  </div>
</div>
<ng-template #userLoggedTemplate>
  <app-navbar-actions [actions]="userActions" [currentUser]="currentUser$ | async"></app-navbar-actions>
</ng-template>