<app-nav-bar></app-nav-bar>
<app-banner></app-banner>
<div class="ivd-top-courses">
  <div class="title">top courses</div>
  <div class="card-container">
    <div class="card-wrapper" *ngFor="let course of courses;">
      <app-card [card]="course" animations="true"></app-card>
    </div>
  </div>
  <div class="courses-link">
    <a href="">view all courses</a>
  </div>
</div>
<app-create-account></app-create-account>
<div class="ivd-inspiration">
  <div class="title">inspiration idea</div>
  <div class="description">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
    invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no</div>
</div>
<app-subscribe></app-subscribe>
<app-footer></app-footer>