<div class="ivd-landing">
  <app-nav-bar></app-nav-bar>
  <app-banner></app-banner>
  <div class="ivd-top-courses">
    <div class="title">{{ 'features.landing.topCourses' | translate }}</div>
    <div class="card-container">
      <div class="card-wrapper" *ngFor="let course of courses$ | async;">
        <app-card [card]="course" animations="true"></app-card>
      </div>
    </div>
    <div class="courses-link">
      <a class="link" routerLink="/dashboard/courses">{{ 'features.landing.viewAllCourses' | translate }}</a>
    </div>
  </div>
  <app-create-account></app-create-account>
  <div class="ivd-inspiration" id="aboutInterview">
    <div class="title">{{ 'features.landing.whatIsInterviewDream' | translate }}</div>
    <div class="description">{{ 'features.landing.interviewDescription' | translate }}</div>
  </div>
  <app-subscribe></app-subscribe>
  <app-footer></app-footer>
</div>