<div class="ivd-contact-search">
    <input class="ivd-custom-input" placeholder="{{ 'features.dashboard.chatbox.contactSearch.placeholder' | translate }}" id="contact" type="text"
      [formControl]="contactControl"
      [matAutocomplete]="auto">
    <mat-autocomplete class="ivd-autocomplete-panel" #auto="matAutocomplete">
      <mat-option class="ivd-autocomplete-options" *ngFor="let user of (filteredOptions | async)" [value]="user.fullName">
        <!-- TODO: Add (me) in case of logged in user -->
        <div class="menu-left-content">
          <span class="ivd-fullname">{{user.fullName}}</span>
          <span class="ivd-username">{{user.username}}</span>
        </div>
        <div class="action-wrapper">
          <button mat-icon-button class="ivd-icon-btn ivd-check-btn" type="button" (click)="sendRequest(user)">
            <mat-icon>check</mat-icon>
          </button>
        </div>
      </mat-option>
    </mat-autocomplete>
</div>