<div class="ivd-footer">
  <div class="footer-content">
    <div class="subscribe-wrapper">
      <div class="subscribe-title">
        Subscribe to InterviewDream via Email
      </div>
      <div class="subscribe-description">To get latest offers and updated from InterviewDream. Click on the subscribe button below.</div>
      <form class="subscribe-form">
        <mat-form-field class="ivd-form-field" appearance="outline">
          <input matInput type="text" placeholder="Email Address" id="email"
            [formControl]="emailControl">
        </mat-form-field>
        <button mat-flat-button class="ivd-btn btn-accent subscribe-btn">Subscribe</button>
      </form>
    </div>
    <div class="footer-links">
      <div class="ivd-list" *ngFor="let list of footerLinks">
        <div class="ivd-list-item" *ngFor="let item of list">
          <a href="item.url">{{item.label}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bar">
    <div class="copyright">
      &copy; InterviewDream 2021
    </div>
    <ul class="icon-list social-link-wrapper">
      <li class="icon-item" *ngFor="let link of socialLinks">
        <a class="icon-link" href="link.url">
          <i class="fa fa-{{link.icon}}" aria-hidden="true"></i>
        </a>
      </li>
    </ul>
    </div>
</div>