<div class="ivd-account-selector-card">
  <h1 class="title">{{ 'features.login.accountSelectorCard.title' | translate }}</h1>
  <div class="student-wrapper" (click)="onSelection(accountType.Student)">
    <img [src]="studentCardBg" alt="background-image">
    <h2 class="sub-title">{{ 'features.login.accountSelectorCard.student' | translate }}</h2>
  </div>
  <div class="instructor-wrapper" (click)="onSelection(accountType.Instructor)">
    <img [src]="instructorCardBg" alt="background-image">
    <h2 class="sub-title">{{ 'features.login.accountSelectorCard.instructor' | translate }}</h2>
  </div>
</div>