<div class="ivd-account-selector-card">
  <h1 class="title" i18n="@@ivdAccountSelectorCard__Title">Select your Account</h1>
  <div class="student-wrapper" (click)="onSelection(accountType.Student)">
    <img src="assets/images/bgImages/2.jpg" alt="background-image">
    <h2 class="sub-title" i18n="@@ivdAccountSelectorCard__StudentWrapperSubTitle">Student</h2>
  </div>
  <div class="instructor-wrapper" (click)="onSelection(accountType.Instructor)">
    <img src="assets/images/bgImages/18.jpg" alt="background-image">
    <h2 class="sub-title" i18n="@@ivdAccountSelectorCard__InstructorWrapperSubTitle">Instructor</h2>
  </div>
</div>