<div class="ivd-subscribe">
  <div class="img-container">
    <img src="../../../../../assets/images/banners/subscribe.png" alt="subscribe">
  </div>
  <div class="content">
    <div class="title" i18n="@@ivdSubscribe__Title">
      Subscribe to our newsletter to get latest offers
    </div>
    <div class="description" i18n="@@ivdSubscribe__Description">Register to receive additional benefits and newsletter from
      interviewDream</div>
    <button mat-flat-button class="ivd-btn btn-accent subscribe-btn" i18n="@@ivdSubscribe__SubscribeBtn">Subscribe</button>
  </div>
</div>