<div class="profile-container" *ngIf="{
  edit: (queryParams$ | async).edit,
  profile: (profile$ | async)
} as stream$">
  <app-profile-main-info [showEdit]="stream$.edit" [profileData]="profileMainInfo$ | async"></app-profile-main-info>
  <div class="ivd-content-container">
    <div class="row-1">
      <div class="column-11">
        <app-profile-info-card (save)="onSave($event)" [showEdit]="stream$.edit" [card]="stream$?.profile?.summary"></app-profile-info-card>
        <div class="row-2">
          <div class="column-21">
            <div class="row-3">
              <app-profile-info-card (save)="onSave($event)" [showEdit]="stream$.edit" [card]="stream$?.profile?.basicInfo"></app-profile-info-card>
            </div>
            <app-profile-info-card (save)="onSave($event)" [showEdit]="stream$.edit" [card]="stream$?.profile?.educationInfo"></app-profile-info-card>
          </div>
          <div class="column-22">
            <div class="row-3">
              <app-profile-info-card (save)="onSave($event)" [showEdit]="stream$.edit" [card]="stream$?.profile?.personalInfo"></app-profile-info-card>
            </div>
            <app-profile-info-card (save)="onSave($event)" [showEdit]="stream$.edit" [card]="stream$?.profile?.contactInfo"></app-profile-info-card>
          </div>
        </div>
      </div>
      <div class="column-12">
        <div class="score-wrapper">
          <app-score-card [score]="score$ | async"></app-score-card>
        </div>
      </div>
    </div>
  </div>
</div>