 <div class="ivd-breadcrumb">
    <ng-container
        *ngFor="let breadcrumb of breadcrumbs | async as breadcrumbList; let breadcrumbIndex = index">
        <a class="ivd-breadcrumb-link"
        [ngClass]="{'ivd-last-breadcrumb': breadcrumbIndex === breadcrumbList.length - 1}"
        (click)="onLinkClick(breadcrumb, breadcrumbIndex === breadcrumbList.length - 1)">
            <span class="ivd-breadcrumb-label" *ngIf="!isObjectId(breadcrumb.label)">{{ breadcrumb.label | translate | titlecase }}</span>
        </a>
        <mat-icon 
        *ngIf="breadcrumbIndex !== breadcrumbList.length - 1" 
        class="ivd-breadcrumb-icon">chevron_right</mat-icon>
    </ng-container>
</div>