/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import './app/styles/base';

@import '~@angular/material/theming';
$custom-typography: mat-typography-config(
  $font-family: 'Raleway',
);

@include angular-material-typography($custom-typography);

* {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
}
