<div class="ivd-banner">
  <div class="banner-image">
    <img src="{{ bannerImage }}" alt="" />
  </div>
  <div class="content-container">
    <div class="inspirational-quotes">
      <span class="quotes-wrapper">
        {{ 'features.landing.banner.quotes' | translate }}
      </span>
      <br />
      <span class="author">{{ 'features.landing.banner.author' | translate }}</span>
    </div>
    <div class="offers">{{ 'features.landing.banner.offers' | translate }}</div>
  </div>
  <div class="images-container">
    <div class="images-wrapper" *ngFor="let image of imageList; let i = index;">
      <img class="image-{{i}}" src="{{ image }}" alt="banner images" />
    </div>
  </div>
  <div class="show-more" (click)="onShowMore()">
    <a class="show-more-link" href="#aboutInterview">
      <div class="show-more-text">
        {{ 'features.landing.banner.exploreMore' | translate }}
      </div>
      <div class="show-more-icon">
        <mat-icon>arrow_forward_ios</mat-icon>
      </div>
    </a>
  </div>
  </div>