<div class="ivd-banner">
  <div class="banner-image">
    <img src="{{ bannerImage }}" alt="" />
  </div>
  <div class="content-container">
    <div class="inspirational-quotes">
      <span class="quotes-wrapper" i18n="@@ivdBanner__QuotesWrapper">
        “In order to create an engaging learning experience, the role of
        instructor is optional, but the role of learner is essential.”
      </span>
      <br />
      <span class="author" i18n="@@ivdBanner__Author">- Bernard Bull</span>
    </div>
    <div class="offers" i18n="@@ivdBanner_Offers">Sign up to get best courses starting for just $20</div>
  </div>
  <div class="images-container">
    <div class="images-wrapper" *ngFor="let image of imageList; let i = index;">
      <img class="image-{{i}}" src="{{ image }}" alt="banner images" />
    </div>
  </div>
  <div class="show-more" (click)="onShowMore()">
    <a class="show-more-link" href="#aboutInterview">
      <div class="show-more-text" i18n="@@ivdBanner_ShowMoreText">
        explore more
      </div>
      <div class="show-more-icon">
        <mat-icon>arrow_forward_ios</mat-icon>
      </div>
    </a>
  </div>
  </div>